.parent {
    background-color: #eee;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    margin: 25px auto ;
    text-align: center;
}
.parent div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 40%;
}
.one    {
    background-color: orange;
    order: 4;
    order: 2;
    margin-top: 10px;
}
.two    {
    background-color: rgb(95, 151, 12);
    order: 3;
    align-self: flex-end;
    margin-bottom: 10px;
}
.three  {
    background: rgb(109, 71, 46);
    order: 2;
    order: 4;
    margin-top: 10px;
    margin-right: 8px;
}
.four   {
    background-color: rgb(99, 9, 173);
    order: 1;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 8px;

}