*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
div {
    width: 600px;
    margin: 10px auto;
    background-color: #eee;
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(240, 48, 23) 35%, rgb(240, 48, 23) 35%, rgb(37, 131, 238) 35%, rgb(37, 131, 238) 45%, green 45%, green 55%, rgb(223, 34, 81) 55%, rgb(223, 34, 81) 65%, purple 65%, purple 100%)1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

div::first-letter {
    color: red;
}
