*   {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    /* justify-content: space-between; */
}

.grid div {
    background-color: rgb(57, 14, 126);
    color: white;
    text-align: center;
}
.E1,.E2,.E3 {
    display: grid;
    height: 40%;
    padding: 10px;
    align-items: center;
}
.E4,.E5,.E6  {
    height: 313px;
    display: grid;
    padding: 6px;
    align-items: center;
}