.grid   {
    background-color: #ddd;
    color: white;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: 25px auto;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 10px;
}
.grid div   {
    background-color: rgb(10, 110, 27);
    display: grid;
    justify-content: center;
    align-items: center;
}
.E3,.E4 {
    align-self: flex-end;
    height: 25px;
}
.E1,.E2 {
    align-self: flex-start;
    height: 25px;
}