div {
    width: 800px;
    height: 600px;
    margin: 10px auto;
    background-color: red;
    background-image: url(/photo-1518837695005-2083093ee35b.avif);
}
div:hover   {
    transition: .10s;
    filter: blur(4px);
}
