*   {
    Font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
body   {
    margin: 0;
    background-color:  hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont   {
    background-color: hsl(216, 50%, 16%);
    width: 342px;
    height: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 14px;
    padding: 15px;
}
.pics   {
    position: relative;
}
.cube {
    /* border: 1px solid hsl(215deg 20.33% 34.81% / 0%); */
    border-radius: 24px;
    height: 100%;
    width: 100%;
    width: 316px;
}
.view   {
    background-color: hsla(178, 100%, 50%, 0.459);
    height: 100%;
    width: 100%;
    z-index: 111;
    position: absolute;
    top: 0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.data   {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    justify-content: space-evenly;
    margin-left: 10px;
}
.info,.price   {
    color: hsl(178, 100%, 50%);
}
.info{
    font-weight: 700;
}
.time{
    margin-right: 10px;
}
.price-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-line  {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-align: center;
}
.by {
    display: flex;
    align-items: center;
}
.av {
    width: 34px;
    margin-right: 12px;
}
.name   {
    color: white;
    margin-left: 6px;
    transition: .5s ease-in-out;
}
.des    {
    color: hsl(215deg 51% 70% / 64%)
}
.bn {
    color: hsl(215deg 51% 70% / 64%);
}
.time   {
    color: hsl(215deg 51% 70% / 64%);
}
.space-X    {
    background: rgba(255, 255, 255, 0.384);
    height: 1px;
    /* width: 90%; */
    margin-block: 10px;
}
.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.info:hover   {
    cursor: pointer;
}
.view:hover {
    opacity: 1;
    visibility: unset;
    cursor: pointer;
}
.eye:hover    {
    visibility: unset;
    cursor: pointer;
}