.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(6,auto) ;
    gap: 14px;
    grid-template-areas: "eight eight eight eight eight eight"
    "two two two two three three"
    "four six seven five five five "
    "one one one one one one";
}
.grid div {
    background-color: rgb(66, 170, 255);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}
.one    {
    grid-area: one;
    grid-row-start:6 ;
    grid-row-end: 6 ;
}
.two    {
    grid-area: two;
}
.three  {
    grid-area: three ;
}
.four   {
    grid-area: four;
}
.five   {
    grid-area: five;
    grid-row-start: 3;
    grid-row-end:5 ;
}
.six    {
    grid-area: six;
}
.seven  {
    grid-area: seven;
}
.eight  {
    grid-area: eight;
}